.sidebar {
    background-color: #171717;
    color: #b4b4b4;
    height: 100vh;
    width: 320px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.logo {
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    object-fit: cover;
}

button span {
    font-size: 20px;
}

button:hover {
    background-color: rgba(180, 180, 180, 0.25);
    cursor: pointer;

}

.history {
    margin: 10px;
    padding: 10px;
    height: 100%;

}

.history li {
    list-style-type: none;
    cursor: pointer;
    padding: 2px, 25px;
    margin-bottom: 0.3rem;
    font-size: 18px;
    border: solid 10px transparent;
    position: relative;

}

.history li:hover {
    background-color: rgba(180, 180, 180, 0.05);
    border-radius: 10px;
}

.sign {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-top: solid 2.5px rgba(225, 225, 225, 0.5);
    cursor: pointer;

}

.fa-trash {
    opacity: 0;
    position: absolute;
    right: 0;

}

.history li:hover .fa-trash {
    opacity: 1;
    color: #fff;
}

.fa-trash:hover {
    color: #f87171 !important;

}

.highlighted {
    background-color: rgba(180, 180, 180, 0.05);
    border-radius: 10px;
}

.logout-btn {
    justify-content: center;
    gap: 10px;
    width: auto;
    margin: 10px;
}

.logout-btn:hover {
    background-color: rgba(248, 113, 113, 0.15);
    border-color: #f87171;
    color: #f87171;
}